@font-face {
    font-family: 'Monserrat';
    src: url('./Fonts/Montserrat-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat';
    overflow: hidden;
}


/* This is a Navbar Styling Code ( 14 - ? )  */

.navbar{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav{
    height: 100%;
}

.left-nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
}

.left-nav ul li a{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.left-nav ul li a .fa-angle-down{
    font-size: smaller;
}

.navbar h1{
    text-transform: uppercase;
    overflow: hidden;
}

.navbar h1 span{
    display: inline-block;
}

.right-nav{
    height: 100%;
}

.right-nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
}

.right-nav ul li a{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.right-nav ul li a.SignUp-Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: .5s ease;
}
.right-nav ul li a.SignUp-Btn:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.dropdown{
    width: 400px;
    height: auto;
    background-color: rgb(243, 243, 243);
    position: absolute;
    top: 8%;
    left: 1.2%;
    border-radius: 20px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    opacity: 0%;
    pointer-events: none;
}

.dropdown h5{
    font-size: large;
}
.dropdown-content-1{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.dropdown-content-1 ul.daily-finance{
    list-style: none;
}
.dropdown-content-1 ul.daily-finance li{
    margin: 10px 0;
}
.dropdown-content-1 ul.daily-finance li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(125, 125, 125);
}
.dropdown-content-1 ul.daily-finance h6{
    font-size: 16px;
}

.dropdown-content-1 ul.moneliq-cards{
    list-style: none;
}
.dropdown-content-1 ul.moneliq-cards li{
    margin: 10px 0;
}
.dropdown-content-1 ul.moneliq-cards li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(125, 125, 125);
}
.dropdown-content-1 ul.moneliq-cards h6{
    font-size: 16px;
}

.hamburger-menu{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;
    z-index: 999;
    display: none;
}
.hamburger-menu span{
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    pointer-events: none;
}
.toggle-menu{
    width: 280px;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    position: fixed;
    left: 100%;
    top: 0;
    display: none;
}
.toggle-menu .left-nav ul{
    flex-direction: column;
    height: max-content;
    width: 100%;
    position: absolute;
    top: 12%;
    align-items: flex-start;
}
.toggle-menu .left-nav ul li{
    margin: 20px 0;
}
.toggle-menu .left-nav ul li a{
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-menu .right-nav ul{
    flex-direction: column;
    height: max-content;
    width: 100%;
    position: absolute;
    top: 30%;
    align-items: flex-start;
}
.toggle-menu .right-nav ul li{
    margin: 10px 0;
}

@media (max-width : 320px) {
    .navbar .left-nav{
        display: none;
    }
    .navbar .right-nav{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .navbar h1 span{
        font-size: 30px;
    }
    .hamburger-menu{
        width: 60px;
        display: flex;
        align-items: center;
    }
    .toggle-menu{
        display: flex;
        height: 100%;
    }
    .toggle-menu .right-nav ul{
        top: 34%;
    }
}

@media (max-width : 360px) {
    .navbar .left-nav{
        display: none;
    }
    .navbar .right-nav{
        display: none;
    }
    .navbar{
        width: 100%;
    }
    .navbar h1 span{
        font-size: 30px;
    }
    .hamburger-menu{
        width: 60px;
        display: flex;
        align-items: center;
    }
    .toggle-menu{
        display: flex;
        height: 100%;
    }
}

@media (max-width : 600px) {
    .navbar .left-nav{
        display: none;
    }
    .navbar .right-nav{
        display: none;
    }
    .navbar{
        padding: 0 20px;
    }
    .navbar h1 span{
        font-size: 30px;
    }
    .hamburger-menu{
        width: 60px;
        display: flex;
        align-items: center;
    }
    .toggle-menu{
        display: flex;
    }
}

@media (max-width : 768px) {
    .navbar .left-nav{
        display: none;
    }
    .navbar .right-nav{
        display: none;
    }
    .navbar{
        padding: 0 20px;
    }
    .navbar h1 span{
        font-size: 30px;
    }
    .hamburger-menu{
        width: 60px;
        display: flex;
        align-items: center;
    }
    .toggle-menu{
        display: flex;
    }

}

@media (max-width : 1024px) {
    .navbar .left-nav{
        display: none;
    }
    .navbar .right-nav{
        display: none;
    }
    .navbar{
        padding: 0 20px;
    }
    .navbar h1 span{
        font-size: 30px;
    }
    .hamburger-menu{
        width: 60px;
        display: flex;
        align-items: center;
    }
    .toggle-menu{
        display: flex;
    }
}